.headerBGContainer{
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden; /* Обрезка всего, что выходит за границы контейнера */
    position: relative; /* Позиционирование элементов внутри контейнера */
}

.headerImage {
    width: auto;
    display: block;
    margin-top: -40px;
}